body{
    background-color: #F3EBF6;
}

.b4n{
    position: absolute;
    top: 120px; left: 440px;
}

.link{
    position: absolute;
    top: 130px; left: 519px;
}

.barra{
    position: absolute;
    top: 155px; left: 430px;
}

.pesquisa{
    position: absolute;
    top: 175px; left: 470px;
}

.livros{
    position: absolute;
    width: 900px;
    top: 250px; left: 490px;
}

#nome{
    width: 970px;
    position: absolute;
    top: 177px; left: 450px;
}

















